{% extends 'base/layout.html' %}
{% block body %}
<main class="about_us">
    <header>
        <h1>About Us</h1>
    </header>
    <p>UniSphere is a global community platform created to support international students as they navigate academic life, housing, career opportunities, and cultural integration. With features like personalized profiles, group discovery, events/organizations, housing search, and messaging, UniSphere helps students feel connected, informed, and empowered from day one.</p>

    <div class="about">
        <div class="section">
            <h2>Our Mission</h2>
            <p>To connect and uplift international students by providing inclusive tools and a welcoming platform to thrive in their academic and social journeys.</p>
        </div>
    </div>
</main>
{% endblock %}
